n8n_workflow_ffmpeg.json
{
  "name": "Evolution Video Generator (FFmpeg API + R2)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 240],
      "id": "trigger-001",
      "name": "Execute"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "species-list",
              "name": "species",
              "type": "array",
              "value": "=[\"Pikaia\", \"Haikouichthys\", \"Tiktaalik\", \"Ichthyostega\", \"Hylonomus\"]"
            },
            {
              "id": "video-api",
              "name": "videoApiUrl",
              "type": "string",
              "value": "https://vivid-inez-rudraksh-d0d461d8.koyeb.app"
            },
            {
              "id": "ffmpeg-api",
              "name": "ffmpegApiUrl",
              "type": "string",
              "value": "https://YOUR-FFMPEG-SERVICE.koyeb.app"
            },
            {
              "id": "video-api-key",
              "name": "videoApiKey",
              "type": "string",
              "value": "YOUR_VIDEO_API_KEY"
            },
            {
              "id": "ffmpeg-api-key",
              "name": "ffmpegApiKey",
              "type": "string",
              "value": "YOUR_FFMPEG_API_KEY"
            },
            {
              "id": "audio-url",
              "name": "audioUrl",
              "type": "string",
              "value": "https://YOUR_R2_BUCKET.r2.dev/background_audio.mp3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 240],
      "id": "config-001",
      "name": "Configuration"
    },
    {
      "parameters": {
        "fieldToSplitOut": "species",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [400, 240],
      "id": "split-001",
      "name": "Split Species"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Species: {{ $json.species }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "**AI Assistant Task: Evolutionary Organism Image Prompt Generator**\n\nGenerate image prompts for evolutionary organisms. Output JSON:\n{\n  \"species\": \"<name>\",\n  \"prompt\": \"<detailed image prompt>\",\n  \"existed\": <millions of years ago>,\n  \"period\": \"<geological period>\"\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [600, 240],
      "id": "llm-image-001",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [600, 80],
      "id": "openai-001",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"species\": { \"type\": \"string\" },\n    \"prompt\": { \"type\": \"string\" },\n    \"existed\": { \"type\": \"number\" },\n    \"period\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [760, 80],
      "id": "parser-001",
      "name": "JSON Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.videoApiUrl }}/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $('Configuration').item.json.videoApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"model\": \"nanobanana-pro\",\n  \"aspect_ratio\": \"9:16\",\n  \"resolution\": \"1K\",\n  \"output_format\": \"png\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 240],
      "id": "api-image-001",
      "name": "Create Image Task"
    },
    {
      "parameters": {
        "amount": 70
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1160, 240],
      "id": "wait-image-001",
      "name": "Wait 70s"
    },
    {
      "parameters": {
        "url": "={{ $('Configuration').item.json.videoApiUrl }}/v1/tasks/{{ $('Create Image Task').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Configuration').item.json.videoApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 240],
      "id": "poll-image-001",
      "name": "Get Image Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1560, 240],
      "id": "if-image-001",
      "name": "Image Ready?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "img-url",
              "name": "imageUrl",
              "type": "string",
              "value": "={{ $json.data[0].url }}"
            },
            {
              "id": "species-info",
              "name": "speciesData",
              "type": "object",
              "value": "={{ $('Generate Image Prompt').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 140],
      "id": "set-image-001",
      "name": "Store Image URL"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  items[i].json.evolutionNo = i + 1;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 140],
      "id": "number-001",
      "name": "Number Images"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst output = [];\n\n// Loop: last to first\noutput.push({\n  json: {\n    videoNo: 0,\n    from: input[input.length - 1].json,\n    to: input[0].json\n  }\n});\n\n// Sequential\nfor (let i = 0; i < input.length - 1; i++) {\n  output.push({\n    json: {\n      videoNo: i + 1,\n      from: input[i].json,\n      to: input[i + 1].json\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 140],
      "id": "group-001",
      "name": "Group Pairs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: {{ $json.from.speciesData.species }}\nTo: {{ $json.to.speciesData.species }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Generate a transition prompt for evolutionary animation. Describe smooth morphing between species. Output JSON: {\"transition_prompt\": \"<prompt under 1000 chars>\"}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [2360, 140],
      "id": "llm-video-001",
      "name": "Generate Video Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [2360, -20],
      "id": "openai-002",
      "name": "OpenAI Model 2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"transition_prompt\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [2520, -20],
      "id": "parser-002",
      "name": "JSON Parser 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').item.json.videoApiUrl }}/v1/videos/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $('Configuration').item.json.videoApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.transition_prompt }}\",\n  \"image_url\": \"{{ $('Group Pairs').item.json.from.imageUrl }}\",\n  \"model\": \"kling-v2-6\",\n  \"duration\": 5,\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 140],
      "id": "api-video-001",
      "name": "Create Video Task"
    },
    {
      "parameters": {
        "amount": 180
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2920, 140],
      "id": "wait-video-001",
      "name": "Wait 180s"
    },
    {
      "parameters": {
        "url": "={{ $('Configuration').item.json.videoApiUrl }}/v1/tasks/{{ $('Create Video Task').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Configuration').item.json.videoApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 140],
      "id": "poll-video-001",
      "name": "Get Video Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3320, 140],
      "id": "if-video-001",
      "name": "Video Ready?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid-url",
              "name": "videoUrl",
              "type": "string",
              "value": "={{ $json.data[0].url }}"
            },
            {
              "id": "vid-no",
              "name": "videoNo",
              "type": "number",
              "value": "={{ $('Group Pairs').item.json.videoNo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3520, 40],
      "id": "set-video-001",
      "name": "Store Video URL"
    },
    {
      "parameters": {
        "jsCode": "// Collect all video URLs and sort by videoNo\nconst videos = $input.all();\nvideos.sort((a, b) => a.json.videoNo - b.json.videoNo);\n\nconst videoUrls = videos.map(v => v.json.videoUrl);\nconst speciesData = $('Number Images').all().map(item => ({\n  name: item.json.speciesData.species,\n  period: item.json.speciesData.period,\n  mya: item.json.speciesData.existed\n}));\n\nreturn [{\n  json: {\n    videoUrls: videoUrls,\n    speciesData: speciesData,\n    videoCount: videoUrls.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3720, 40],
      "id": "collect-001",
      "name": "Collect All Videos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration').first().json.ffmpegApiUrl }}/process-evolution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $('Configuration').first().json.ffmpegApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": {{ JSON.stringify($json.videoUrls) }},\n  \"audio_url\": \"{{ $('Configuration').first().json.audioUrl }}\",\n  \"species_data\": {{ JSON.stringify($json.speciesData) }},\n  \"trim_duration\": 5,\n  \"add_text\": false\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3920, 40],
      "id": "ffmpeg-process",
      "name": "FFmpeg: Process Evolution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final",
              "name": "message",
              "type": "string",
              "value": "=✅ Evolution video generated!\n\n🎬 Final Video: {{ $json.url }}\n📹 Videos processed: {{ $json.videos_processed }}\n🎵 Audio: {{ $json.audio_added ? 'Added' : 'None' }}"
            },
            {
              "id": "url",
              "name": "finalVideoUrl",
              "type": "string",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4120, 40],
      "id": "output-001",
      "name": "Final Output"
    },
    {
      "parameters": {
        "content": "## 📋 CONFIGURATION\n\n**Replace these values:**\n\n1. `YOUR-FFMPEG-SERVICE.koyeb.app` - Your FFmpeg API URL\n2. `YOUR_VIDEO_API_KEY` - Your Koyeb video API key\n3. `YOUR_FFMPEG_API_KEY` - Your FFmpeg service API key\n4. `YOUR_R2_BUCKET.r2.dev` - Your R2 public URL\n5. OpenAI credential IDs\n\n**Free Tier Limits:**\n- Keep to 5-10 species max\n- Videos are trimmed to 5s each\n- Text overlay disabled (uses too much memory)",
        "height": 340,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 60],
      "id": "note-001",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "content": "## 🖼️ IMAGE GENERATION\n\nUsing your Koyeb API:\n- POST /v1/images/generations\n- Model: nanobanana-pro\n- Resolution: 1K (lighter)",
        "height": 140,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [940, 400],
      "id": "note-002",
      "name": "Image Note"
    },
    {
      "parameters": {
        "content": "## 🎬 VIDEO GENERATION\n\nUsing your Koyeb API:\n- POST /v1/videos/image-to-video\n- Model: kling-v2-6\n- Duration: 5s (exact)",
        "height": 140,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2700, 300],
      "id": "note-003",
      "name": "Video Note"
    },
    {
      "parameters": {
        "content": "## ⚡ FFMPEG API\n\nPOST /process-evolution\n- Trims all videos to 5s\n- Concatenates in order\n- Merges background audio\n- Outputs to R2\n\n**No local files!**\n**No credit limits!**",
        "height": 200,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3900, 260],
      "id": "note-004",
      "name": "FFmpeg Note"
    }
  ],
  "connections": {
    "Execute": {
      "main": [[{"node": "Configuration", "type": "main", "index": 0}]]
    },
    "Configuration": {
      "main": [[{"node": "Split Species", "type": "main", "index": 0}]]
    },
    "Split Species": {
      "main": [[{"node": "Generate Image Prompt", "type": "main", "index": 0}]]
    },
    "OpenAI Model": {
      "ai_languageModel": [[{"node": "Generate Image Prompt", "type": "ai_languageModel", "index": 0}]]
    },
    "JSON Parser": {
      "ai_outputParser": [[{"node": "Generate Image Prompt", "type": "ai_outputParser", "index": 0}]]
    },
    "Generate Image Prompt": {
      "main": [[{"node": "Create Image Task", "type": "main", "index": 0}]]
    },
    "Create Image Task": {
      "main": [[{"node": "Wait 70s", "type": "main", "index": 0}]]
    },
    "Wait 70s": {
      "main": [[{"node": "Get Image Status", "type": "main", "index": 0}]]
    },
    "Get Image Status": {
      "main": [[{"node": "Image Ready?", "type": "main", "index": 0}]]
    },
    "Image Ready?": {
      "main": [
        [{"node": "Store Image URL", "type": "main", "index": 0}],
        [{"node": "Wait 70s", "type": "main", "index": 0}]
      ]
    },
    "Store Image URL": {
      "main": [[{"node": "Number Images", "type": "main", "index": 0}]]
    },
    "Number Images": {
      "main": [[{"node": "Group Pairs", "type": "main", "index": 0}]]
    },
    "Group Pairs": {
      "main": [[{"node": "Generate Video Prompt", "type": "main", "index": 0}]]
    },
    "OpenAI Model 2": {
      "ai_languageModel": [[{"node": "Generate Video Prompt", "type": "ai_languageModel", "index": 0}]]
    },
    "JSON Parser 2": {
      "ai_outputParser": [[{"node": "Generate Video Prompt", "type": "ai_outputParser", "index": 0}]]
    },
    "Generate Video Prompt": {
      "main": [[{"node": "Create Video Task", "type": "main", "index": 0}]]
    },
    "Create Video Task": {
      "main": [[{"node": "Wait 180s", "type": "main", "index": 0}]]
    },
    "Wait 180s": {
      "main": [[{"node": "Get Video Status", "type": "main", "index": 0}]]
    },
    "Get Video Status": {
      "main": [[{"node": "Video Ready?", "type": "main", "index": 0}]]
    },
    "Video Ready?": {
      "main": [
        [{"node": "Store Video URL", "type": "main", "index": 0}],
        [{"node": "Wait 180s", "type": "main", "index": 0}]
      ]
    },
    "Store Video URL": {
      "main": [[{"node": "Collect All Videos", "type": "main", "index": 0}]]
    },
    "Collect All Videos": {
      "main": [[{"node": "FFmpeg: Process Evolution", "type": "main", "index": 0}]]
    },
    "FFmpeg: Process Evolution": {
      "main": [[{"node": "Final Output", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffmpeg-evolution-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "evolution-ffmpeg-workflow"
  },
  "id": "evolution-ffmpeg-001",
  "tags": []
}
